<div class="box">
    <h1>Contact Page</h1>
    <form method="post" action="./web-service/connect.php"><br>
        <div class="details">
            <input type="text" id="name" placeholder=" NAME"><br>
            <input type="email" id="email" placeholder=" EMAIL"><br>
            <input type="text" id="subject" placeholder=" SUBJECT"><br>
        </div>
        <textarea name="message" rows="10" cols="30" placeholder="COMMENT" id="comment"></textarea><br>
        <input type="submit" id="send" value="SEND EMAIL">
    </form>
    
    <div class="feedback">
        
    </div>
</div>